:root {
    --background: rgb(237 237 237);
    --foreground: rgb(9 9 9);
    --card: rgb(255 255 255);
    --card-foreground: rgb(9 9 9);
    --popover: rgb(255 255 255);
    --popover-foreground: rgb(9 9 9);
    --primary: rgb(160 75 28);
    --primary-foreground: rgb(252 252 252);
    --secondary: rgb(245 245 245);
    --secondary-foreground: rgb(24 24 29);
    --muted: rgb(245 245 245);
    --muted-foreground: rgb(112 112 125);
    --accent: rgb(245 245 245);
    --accent-foreground: rgb(24 24 29);
    --destructive: rgb(230 0 6);
    --border: rgb(228 228 228);
    --input: rgb(228 228 228);
    --ring: rgb(161 161 168);
    --chart-1: rgb(247 72 0);
    --chart-2: rgb(0 149 136);
    --chart-3: rgb(17 79 101);
    --chart-4: rgb(255 185 11);
    --chart-5: rgb(252 154 13);
    --sidebar: rgb(252 252 252);
    --sidebar-foreground: rgb(9 9 9);
    --sidebar-primary: rgb(24 24 29);
    --sidebar-primary-foreground: rgb(252 252 252);
    --sidebar-accent: rgb(245 245 245);
    --sidebar-accent-foreground: rgb(24 24 29);
    --sidebar-border: rgb(228 228 228);
    --sidebar-ring: rgb(161 161 168);

    --font-sans:
        'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Geist', 'Geist Fallback', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
        'Geist Mono', 'Geist Mono Fallback', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    --radius: 0.625rem;

    --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.03);
    --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.03);
    --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 1px 2px -1px rgb(0 0 0 / 0.05);
    --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 1px 2px -1px rgb(0 0 0 / 0.05);
    --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 2px 4px -1px rgb(0 0 0 / 0.05);
    --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 4px 6px -1px rgb(0 0 0 / 0.05);
    --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 8px 10px -1px rgb(0 0 0 / 0.05);
    --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.13);
}

.dark {
    --background: rgb(9 9 9);
    --foreground: rgb(252 252 252);
    --card: rgb(24 24 29);
    --card-foreground: rgb(252 252 252);
    --popover: rgb(24 24 29);
    --popover-foreground: rgb(252 252 252);
    --primary: rgb(208 107 53);
    --primary-foreground: rgb(24 24 29);
    --secondary: rgb(38 38 43);
    --secondary-foreground: rgb(252 252 252);
    --muted: rgb(38 38 43);
    --muted-foreground: rgb(161 161 168);
    --accent: rgb(38 38 43);
    --accent-foreground: rgb(252 252 252);
    --destructive: rgb(255 99 102);
    --border: rgb(255 255 255 / 0.1);
    --input: rgb(255 255 255 / 0.15);
    --ring: rgb(112 112 125);
    --chart-1: rgb(22 73 229);
    --chart-2: rgb(0 188 124);
    --chart-3: rgb(252 154 13);
    --chart-4: rgb(173 69 255);
    --chart-5: rgb(255 20 84);
    --sidebar: rgb(24 24 29);
    --sidebar-foreground: rgb(252 252 252);
    --sidebar-primary: rgb(22 73 229);
    --sidebar-primary-foreground: rgb(252 252 252);
    --sidebar-accent: rgb(38 38 43);
    --sidebar-accent-foreground: rgb(252 252 252);
    --sidebar-border: rgb(255 255 255 / 0.1);
    --sidebar-ring: rgb(112 112 125);

    --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.03);
    --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.03);
    --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 1px 2px -1px rgb(0 0 0 / 0.05);
    --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 1px 2px -1px rgb(0 0 0 / 0.05);
    --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 2px 4px -1px rgb(0 0 0 / 0.05);
    --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 4px 6px -1px rgb(0 0 0 / 0.05);
    --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.05), 0 8px 10px -1px rgb(0 0 0 / 0.05);
    --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.13);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}
